*,*::before,*::after{
          margin: 0;
          padding: 0;
          box-sizing: border-box;
}
body{
          color: #333;
}
@font-face{
          font-family: PoppinsRegular;
          src: url('../../fonts/Poppins-Regular.ttf');
}
@font-face{
          font-family: PoppinsBlack;
          src: url('../../fonts/Poppins-Black.ttf');
}
@font-face{
          font-family: PoppinsLight;
          src: url('../../fonts/Poppins-Light.ttf');
}
@font-face{
          font-family: MontserratBold;
          src: url('../../fonts/Montserrat-Bold.ttf');
}
@font-face{
          font-family: MontserratRegular;
          src: url('../../fonts/Montserrat-Regular.ttf');
}
@font-face{
          font-family: MontserratThinItalic;
          src: url('../../fonts/Montserrat-ThinItalic.ttf');
}
@font-face{
          font-family: Simplifica;
          src: url('../../fonts/Simplifica.ttf');
}

a{
          text-decoration: none;
          color: black;
}
h1{
          margin: 0;
          text-decoration: none;
}
#top-navbar{
          z-index: +5;
          position: fixed;
          width:100%;
          top:0;
          background-color: rgb(216, 112, 147);
}
#top-navbar ul{
          display: flex;
          justify-content: flex-end;
          align-items: center;
          list-style-type: none;
          max-width: 100%;
          height: 100px;
          margin-top: 0;
}
#top-navbar ul li {
          font-family: PoppinsLight;
          margin: 0;
          margin-right: 20px;
}
#top-navbar ul li a{
          transition: all 0.3s ease 0s;
          margin: 0;
          text-decoration: none;
          margin-right: 20px;
}
#top-navbar ul li a:hover{
          color: rgb(227, 252, 253);
}
.name{
          margin-right: auto;
          margin-left: 50px;
          font-family: PoppinsRegular;
}
.title::before{
          content: "";
          min-height: 150px;
          display: block;
}
.title{
          margin: 0 auto 25px auto;
          text-align: center;
          font-family: Simplifica;
          font-size: 55px;
}
.author-info{
          display: flex;
          justify-content: space-evenly;
          margin: 0 auto 25px auto;
          font-family: MontserratRegular;
}
.container{
          box-sizing: border-box;
          overflow-x: hidden;
          width: 100%;
}
.blog-container{
          display: grid;
          grid-template-columns: 15% 65% 15%;
          grid-gap: 20px;
}
.title-image{
          object-fit: contain;
          width: 100%;
          margin-bottom: 25px;
}
.blog-content{
          font-family: MontserratRegular;
}
h3{
          font-family: MontserratBold;
}
p{
          margin: 10px 0;
}
.unorder{
          list-style: square;
}
.steps{
          color: black;
}
.steps li{
          margin: 15px 0;
}
#html-overflow{
          color: rgb(216, 112, 147);
          font-family: PoppinsLight;
          background-color: rgba(0, 0, 0, 0.9);
          height: 350px;
          font-weight: lighter;
          overflow: auto;
          padding: 10px;
}
.cmd{
          color: #333;
          margin: 5px 0;
          padding: 10px;
          background-color: rgb(216,112,147);
          border-radius: 2px;
          padding-left: 5px;
}
.cmd > a{
          color: blue;
}
.img-container{
          text-align: center;
          width: 100%;
          margin: 25px auto;
}
.blog-pic{
          width: 50vw;
}
.caption{
          font-size: 0.9em;
}
hr {
          margin: 25px 0;
}
.author{
          display: grid;
          grid-template-columns: 150px 150px;
}
.author img{
          width: 100px;
          height: auto;
          border-radius: 50%;
}
.author-end{
          display: flex;
          flex-direction: column;
          margin-bottom: 50px;
          font-weight: bold;
          font-family: PoppinsLight;
}
.links{
          box-sizing: border-box;
          margin: 20px;
          margin-top: 0;
          width: 50%;
          display: flex;
          flex-direction: column;
          position: -webkit-sticky;
          position: sticky;
          top: 0;
}
.link-img{
          width: 4vw;
          margin: 10px;
}
.link-img:hover{
          animation: logo 0.5s ease-in-out infinite alternate;
}
@keyframes logo {
          0%{
                    transform: scale(1);
          }
          100%{
                    transform: scale(1.5);
          }
}